.buttons_block_new_post {
    display: flex;
    justify-content: flex-end;
}

.new_post {
    width: 524px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post_header_new_post {
    margin: 8px 0px;
    display: flex;
    justify-content: space-between;
}
